@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  body {
    color: #0f172a;
    background-color: #ffffff;
  }
  
  .dark body {
    color: #ffffff;
    background-color: #0f172a;
  }
}